extends ../index

block content
	h1 Size Details
	hr
	-if(err)
		.alert.alert-danger.col-md-8.col-md-offset-2= err
	-if(!size)
		.row: .alert.alert-danger.col-md-8.col-md-offset-2 There is no any instance yet.
		.row.btn-group(role="group")
			a.btn.btn-info(href="/cloud/sizes") List Sizes
			a.btn.btn-primary(href="/cloud/createsize") New Size
	-else
		.row.btn-group(role="group")
			a.btn.btn-info(href="/cloud/sizes") List Sizes
			a.btn.btn-primary(href="/cloud/createsize") New Size
		.row: .row.col-md-8.col-md-offset-2.sheet
			.dl-horizontal
				dt Id:
				dd= size.id
				dt Name:
				dd= size.name
				dt Description:
				dd= size.desc
				dt Nº CPUs:
				dd= size.cpus
				dt RAM (mb):
				dd= size.ram