extends ../layout

block title
	title Users | Delete

block content
	.row
		.col-md-12
			h1 Delete UserName
			.row: .alert.alert-danger.col-md-6.col-md-offset-3(role="alert") Are you sure you want to delete this user
			.row: dl.dl-horizontal.col-md-offset-3.col-md-6
				dt Id
				dd= user.id
				dt UserName
				dd= user.userName
				dt Email
				dd= user.email
				dt Password
				dd= user.password
				
			form.dl-horizontal.col-md-offset-3.col-md-6(name="delete", action="/users/delete", method="post", role="form")
				input(type="hidden", value=user.id, name="id")
				button.btn.btn-danger(type="submit") I agree
				a.btn.btn-info(href="/users/") Cancel