extends ../index
block vars
	- var_app = 'ng-app="Multicloud"';
block content
	div(ng-controller="UsersController")
		form(method="POST")
			.form-group
				label(for="firstName") FirstName
				input.form-control(type="text" name="firstName" value="#{user.firstName}")
			.form-group
				label(for="lastName") LastName:
				input.form-control(type="text" name="lastName"  value="#{user.lastName}")
			.form-group
				label(for="email") Email:
				input.form-control(type="email" name="email"  value="#{user.email}")
			.form-group
				label(for="userName") UserName:
				input.form-control(type="text" name="userName"  value="#{user.userName}")
			.form-group
				label(for="password") Password:
				input.form-control(type="password" name="password")
			input.btn.btn-default(type="submit")
		span #{msg}
block scripts