extends ../index

block content
	h1 List Instances
	hr
	if(err)
		.alert.alert-danger.col-md-8.col-md-offset-2= err
	if(!instances)
		.alert.alert-danger.col-md-8.col-md-offset-2 There are no instances yet.
		a.btn.btn-primary(href="/instances/create") New Instance
	-else
		a.btn.btn-primary(href="/instances/create") New Instance
		.row
			.col-md-10.col-md-offset-1
				table.table.table-striped.table-hover
					thead
						tr
							th Id
							th Name
							th Description
							th Image Id
							th Size Id
							th Actions
					tbody
						- for instance in instances
							tr
								td(data-toogle="tooltip" data-container="body" data-placement="top" title=instance.id)= instance.id.substring(0,10) + "..."
								td= instance.name
								td= instance.desc
								td(data-toogle="tooltip" data-container="body" data-placement="top" title=instance.image_id)= instance.image_id.substring(0,10) + "..."
								td(data-toogle="tooltip" data-container="body" data-placement="top" title=instance.size_id)= instance.size_id.substring(0,10) + "..."
								td: a.btn.btn-default.btn-xs(href="/instances/details/"+instance.id): span.glyphicon.glyphicon-eye-open(aria-hidden="true")
block scripts
	script(type="text/javascript").
		$(document).ready(function() {
			$('[data-toogle="tooltip"]').tooltip()
		});