extends ../index

block content
	h1 Instance Details
	hr
	-if(err)
		.alert.alert-danger.col-md-8.col-md-offset-2= err
	-if(!instance)
		.row: .alert.alert-danger.col-md-8.col-md-offset-2 There is no any instance yet.
		.row.btn-group(role="group")
			a.btn.btn-info(href="/instances") List Instances
			a.btn.btn-primary(href="/instances/create") New Instances
	-else
		.row.btn-group(role="group")
			a.btn.btn-info(href="/instances") List Instances
			a.btn.btn-primary(href="/instances/create") New Instances
		.row: .row.col-md-8.col-md-offset-2.sheet
			.dl-horizontal
				dt Id:
				dd= size.id
				dt Name:
				dd= size.name
				dt Description:
				dd= size.desc
				dt Nº CPUs:
				dd= size.cpus
				dt RAM (mb):
				dd= size.ram